html, body, table, table.directory, div, p, dl
{
	font-family: "Avenir Book", "Helvetica", sans-serif;
}

html, body, div, p, dl
{
	font-size: 100%;
	line-height: 120%;
}

table, table.directory
{
	font-size: 80%;
}

h1, .h1, h2, h3, h4, h5, h6, .navbar-brand
{
	font-family: "Avenir Black", "Roboto", "Helvetica", sans-serif;
	font-weight: bold;
}

div.fragment
{
	background-color: #edf2f9;
	border-color: #7392cb;
}

div.line
{
	font-size: 80%;
}

.navbar-brand
{
	font-size: 110%;
}

.navbar-default
{
	background-color: #7392cb;
	border-color: #7392cb;
}

.navbar-default .navbar-brand
{
	color: #ddd;
}

.navbar-default .navbar-nav > li > a
{
	color: #eee;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover
{
	color: #fff;
}

.table tr td.memItemLeft,
.table tr td.memItemRight
{
  padding: 0 0 0 8px;
}

.table tr td.mdescLeft,
.table tr td.mdescRight
{
  padding-left: 1em;
  padding-bottom: 0.5em;
}
